@import "tailwindcss";

/* Custom styles */
.refresh_btn {
  @apply bg-gray-800 text-white hover:bg-gray-700 transition-colors;
}

@media (prefers-color-scheme: light) {
  .refresh_btn {
    @apply bg-gray-200 text-gray-800 hover:bg-gray-300;
  }
}

.refresh_btn {
  transition: all .3s ease;
  border-radius: 100%;
  line-height: 0;
  width: 48px;
  aspect-ratio: 1/1;
  font-size: 24px;
  padding-top: 7px;
  cursor: pointer;

  &:hover {
    background: #ff69b43b;
  }

  &:active {
    background: #ff52a854;
    transform: scale(0.9);
  }
}
